body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sidebar-header{
    width: 10%;
    font-size: 27px;
    font-weight: bold;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100vh;
    border: solid 1px;
    margin-top: 5px;
    gap: 14px;
    background-color: #f0f0f0;
}

.btn {
    background-color: transparent;
    border: transparent;
    text-align: left;
    height: 50px;
    font-size: 16px;
}

.btn:hover{
    background-color: #e3e3e3;
}

.content{
    border: solid 2px pink;
    width: 88.7%;
    margin-left: 10.2%;
    height: 99.8%;
    position: absolute;
    bottom: -49px;
}

.layout {
     width: 99%;
    height: 98%;
    margin: 5px;
}

.home-page{
    border: solid 2px;
}

#home-header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 5px;
}


.toDo-content {
    border: 2px solid purple;
}



.today-content {
    border: 2px solid green;
}

.project-content {
    border: 2px solid blue;
}